$orange_main: #EF6F31;
$blue_main: #1972F5;
$grey: #F5F5F5;
$black: #333333;
$white: #FFFFFF;
$sky: #6AC5F1;
$hero: #FBF9F6;

//$artistic_font: "Allura", cursive;
$artistic_font: "Homemade Apple", cursive;