$orange_main: #EF6F31;
$orange_transp: #FDF0EA;
$blue_main: #1972F5;
$grey: #F5F5F5;
$black: #333333;
$white: #FFFFFF;
$sky: #6AC5F1;
$sky_transp: #d7eff1;
$hero: #FBF9F6;
$circle: #ECC5AB;

//$artistic_font: "Allura", cursive;
$artistic_font: "Homemade Apple", cursive;